* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

html, body{
    scroll-behavior: smooth;
}

a.link{
    color: inherit;
    text-decoration: none;
}

h1, h2, h3{
    font-family: 'DM Serif Display', serif;
}

:root{
    --Dark-Violet: #2d2640;
    --Very-Dark-Violet: #2b272f;
    --Grayish-Blue: #95a9c6;
    --Dark-Grayish-Violet: #837d87;
    --Very-Light-Gray: #fafafa;
}

::selection{
    background: #2d2640;
    color: #fafafa;
}

.container{
    width: 80%;
    margin: auto;
    height: 100%;
    position: relative;
}

header{
    background: #fff;
    padding: 27px 0;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--Dark-Grayish-Violet);
    position: relative;
}

#nav{
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
}

header .container nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .container nav ul li{
    list-style: none;
    margin-left: 25px;
}

header .container nav ul li a{
    text-decoration: none;
    color: inherit;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bolder;
    font-size: .82em;    
    text-transform: uppercase;
    letter-spacing: 1px;
}
header .container nav ul li a:hover{
    color: var(--Dark-Violet);
}

header .container nav ul li a.call-view{
    border: 2px solid var(--Very-Dark-Violet);
    padding: 15px 20px;
    color: var(--Very-Dark-Violet);
    transition: .1s;
    position: relative;
}

header .container nav ul li a.call-view:hover{
    border: 2px solid var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    background: var(--Very-Dark-Violet);
}

#banner{
    width: 100%;
    min-height: 100vh;
    background: var(--Dark-Violet);
    padding-top: 150px;
    /* overflow: hidden; */
    position: relative;
}

#banner .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

#banner .container-mobile{
    display: none;
}

.block-banner{
    width: 47%;
}

#banner .container .content-banner{
    /* background: red; */
    height: 100%;
    color: #fafafa;
}

.image-background-banner{
    position: absolute;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.image-background-banner.left{
    top: 70%;
    left: 0;
}

.image-background-banner.right{
    top: 0px;
    right: 0;
    width: 400px;
}

#banner .container .content-banner h1{
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 62px;
    pointer-events: none;
    user-select: none;
    padding-top: 75px;
    position: relative;
}

#banner .container .content-banner h1::before{
    content: '';
    position: absolute;
    top: 0;
    width: 45%;
    height: 2px;
    background: #fafafa;
    border-radius: 20px;
}

#banner .container .content-banner p{
    font-size: 17px;
    margin-bottom: 50px;
}

#banner .container .content-banner a{
    text-decoration: none;
    border: 2px solid #fafafa;
    padding: 15px 20px;
    color: #fafafa;
    transition: .1s;
    position: relative;
    font-weight: bold;
}

#banner .container .content-banner a:hover{
    background: #fafafa;
    color: var(--Dark-Violet);
    font-weight: bold;
}

#banner .container .image-banner{
    position: relative;
}

#banner .container .image-banner img{
    position: absolute;
    width: 100%;
}

#diferences{
    min-height: 100vh;
    background: #fff;
}

#diferences .container{
    padding-top: 260px;
    padding-bottom: 75px;
}

#diferences .container h2{
    color: var(--Very-Dark-Violet);
    font-size: 55px;
    padding-top: 60px;
    position: relative;
    margin-bottom: 20px;
}

#diferences .container h2::before{
    content: '';
    position: absolute;
    top: 0;
    width: 15%;
    height: 2px;
    border-radius: 20px;
    background: #ddd;
}

.grid-diferences{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    margin-top: 50px;
    margin-bottom: 100px;
    min-height: 20vh;
}

.grid-diferences .box-grid div{
    user-select: none;
    pointer-events: none;
}

.grid-diferences .box-grid h3{
    font-size: 24px;
    margin: 15px 0;
    color: var(--Very-Dark-Violet);
}

.grid-diferences .box-grid p{
    color: var(--Dark-Grayish-Violet);
    font-size: 16.5px;
}

#work{
    min-height: 37vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: var(--Dark-Violet);
    color: #fafafa;
    padding: 0 60px;
    margin-top: 150px;
    position: relative;
    overflow: hidden;
}

#work h1{
    font-size: 50px;
    width : 50%;
    line-height: 47px;
}

#work a{
    padding: 15px 25px;
    border: 2px solid #fafafa;
    text-decoration: none;
    color: inherit;
    font-size: 18.5px;
    font-weight: bolder;
    transition: .1s;
    letter-spacing: 1px;
    z-index: 1;
}

#work a:hover{
    background: #fafafa;
    color: var(--Dark-Violet);
}

#work img{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#work img.mobile-work{
    display: none;
}

footer{
    padding: 50px 0;
    background: #fafafa;
}

footer div.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer .top-footer .social a{
    text-decoration: none;
    color: #837d87;
    margin-left: 7px;
    transition: .2s;
}

footer .top-footer .social a:hover{
    color: var(--Very-Dark-Violet);
}

footer .top-footer .social i{
    font-size: 25px;
}

footer .separator{
    margin-top: 40px;
    margin-bottom: 50px;
    height: 2.5px;
    width: 100%;
    background: #ddd;
}

footer .bottom-footer div h4{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--Dark-Grayish-Violet);
    margin-bottom: 20px;
    text-transform: uppercase;
}

footer .bottom-footer div li{
    list-style: none;
    margin: 5px 0;
}

footer .bottom-footer div li a{
    text-decoration: none;
    color: var(--Very-Dark-Violet);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .bottom-footer div li a:hover{
    text-decoration: underline;
}

@media (max-width: 768px){
    .container{
        width: 90%;
    }

    header{
        padding: 20px 0;
    }

    header .logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header img{
        width: 100px;
    }

    #toggle{
        width: 23px;
        height: 17px;
        /* background: red; */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #toggle span{
        height: 2px;
        width: 100%;
        background: #000;
        transition: .5s;
    }

    #toggle.active .one{
        position: absolute;
        top: calc(50% - 2px);
        transform: rotate(45deg);
    }

    #toggle.active .two{
        position: absolute;
        top: calc(50% - 2px);
        transform: rotate(-45deg);
    }

    #toggle.active .thr{
        position: absolute;
        top: calc(50% - 2px);
        transform: rotate(-45deg);
        opacity: 0;
    }

    header .container nav{
        display: none;
    }

    #nav{
        visibility: visible;
        opacity: 1;
        background: var(--Very-Dark-Violet);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 100000;
        transition: .5s;
        transform-origin: top;
        transform: scaleY(0);
    }

    #nav.active{
        transform: scaleY(1);
    }

    #nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
        width: 87%;
        margin: auto;
    }

    #nav ul li{
        list-style: none;
        margin-bottom: 30px;
    }

    #nav ul li a{
        text-decoration: none;
        color: inherit;
        /* font-family: 'Roboto', sans-serif; */
        font-weight: bolder;
        font-size: 22px;    
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #fff;
    }

    #nav ul li a.call-view{
        border: 2px solid #fff;
        padding: 15px 60px;
        color: #fff;
    }

    #nav img{
        position: absolute;
        bottom: 0;
    }

    #banner{
        padding: 0;
    }

    #banner .container{
        display: none;
    }

    #banner .container-mobile{
        display: block;
    }

    #banner .container-mobile .block-banner{
        width: 100%;
        position: relative;
    }

    #banner .container-mobile .content-banner{
        color: #fafafa;
        text-align: center;
        padding: 100px 0;
        width: 100%;
        margin: auto;
        position: relative;
    }

    #banner .container-mobile .content-banner h1{
        font-size: 40px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 40px;
        pointer-events: none;
        user-select: none;
        padding-top: 30px;
        position: relative;
    }

    #banner .container-mobile .content-banner p{
        font-size: 14px;
        margin: auto;
        margin-bottom: 50px;
        width: 90%;
    }

    #banner .container-mobile .content-banner a{
        text-decoration: none;
        border: 2px solid #fafafa;
        padding: 10px 25px;
        color: #fafafa;
        transition: .1s;
        position: relative;
        font-weight: bold;
        font-size: 16px;
    }

    #banner .container-mobile .content-banner a:hover{
        background: #fafafa;
        color: var(--Dark-Violet);
        font-weight: bold;
    }

    #banner .container-mobile .content-banner img{
        position: absolute;
    }

    #banner .container-mobile .content-banner img.mobile-left{
        top: 0;
        left: 0;
    }

    #banner .container-mobile .content-banner img.mobile-right{
        bottom: -200px;
        right: 0;
    }

    #banner .container-mobile .image-banner{
        width: 100%;
        height: 80vh;
        background: url('../images/image-intro-desktop.jpg') no-repeat;
        background-size: cover;
    }

    #diferences .container{
        padding-top: 150px;
    }

    #diferences .container h2{
        text-align: center;
        font-size: 42px;
        padding-top: 30px;
    }

    #diferences .container h2::before{
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 1.5px;
        background: var(--Dark-Grayish-Violet);
    }

    .grid-diferences .box-grid{
        text-align: center;
        margin-top: 35px;
    }

    #work{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }

    #work h1{
        font-size: 35px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        z-index: 1;
        line-height: 40px;
    }

    #work a{
        padding: 10px 25px;
    }

    #work img{
        display: none;
    }

    #work img.mobile-work{
        display: block;
    }
    
    .image-background-banner{
        display: none;
    } 

    footer div.flex{
        flex-direction: column;
    }

    footer .top-footer .social{
        margin-top: 30px;
    }

    footer .separator{
        height: 1.5px;
    }

    footer .bottom-footer div{
        text-align: center;
        margin: 20px 0;
    }
}